<html lang="en" dir="ltr"><head>
    <meta charset="utf-8">
<title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
  <body>
<meta charset="utf-8">

  <div class="jumbotron">
    <h1 class="display-4">Hello, Admin</h1>
    <p class="lead">Welcome to Online Library Management System.</p>
    <hr class="my-4">
    <p>You can access various features after Login/SignUp.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" style="border-radius:0px;" href="/adminsignup" role="button">SignUp</a>
      <a class="btn btn-primary btn-lg" style="border-radius:0px;" href="/adminlogin" role="button">Login</a>
    </p>
  </div>
  </body>
</html>