<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LMS Django</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="signup-form">
        <form action="/adminafterlogin" method="post" class="form-horizontal">
 {% csrf_token %}
    			<center><h2>Admin Login</h2></center>

          <input type="hidden" name="csrfmiddlewaretoken" value="R9nyxYdh34ieyxAknM2arqCKYoYJGcusNXQ7ZxLDjA0PRZv9fJfqF7jbcT1JywUa">

            <div class="form-group text-center">
              <label class="control-label col-xs-4"><label for="id_username">Username:</label></label>
              <div class="col-xs-8">
              <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
               </div>
            </div>

            <div class="form-group text-center">
              <label class="control-label col-xs-4"><label for="id_password">Password:</label></label>
              <div class="col-xs-8">
              <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
               </div>
            </div>


    		<div class="form-group text-center">
    			<div class="col-xs-8 col-xs-offset-4">
            <button type="submit" class="btn btn-success btn-lg" style="border-radius: 0%;">Login</button>
    			</div>
    		</div>
        </form>
    	<div class="text-center">Do not have account? <a href="adminsignup">Signup here</a></div>
    </div>
</body>
</html>